alias ll="exa -l -g --icons"
alias llt="exa -1 --icons --tree"
alias tree="exa --icons --tree -L 1 -I node_modules"
alias lzd="lazydocker"
alias lg="lazygit"
alias s="status"
alias ac="!git add -A && git commit -m"
alias pu="push -u"
alias p="push"
alias lodag="log --oneline --decorate --all --graph"
alias c="commit -m"
alias acp="!f() { git add -A && git commit -m "$1" && git push; }; f"
